body {
	background-color: black;
}

h1, h2, p, a, td {
	color: limegreen;
}

td:hover {
	background-color:darkgreen;
}

table {
	border-collapse: collapse;
	width: 40%;
}

table, td {
	border: 2px solid limegreen;
}

button {
	border: none;
	color: limegreen;
	background-color: black;
}

button:hover {
	background-color: darkgreen;
}

canvas {
	border: 1px solid limegreen;
	width: 100%;
	height: 20px;
}
